{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

	{% block body %}

		<div class="container-fluid">
			<h1>Gestion des annonces</h1>



			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">id</th>
						<th scope="col">Titre</th>
						<th scope="col">Auteur</th>
						<th scope="col">Réservations</th>
						<th scope="col">Commentaires</th>
						<th scope="col">Note</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>

					{% for ad in ads %}

						<tr>
							<th scope="row">{{loop.index0}}</th>
							<td>{{ad.id}}</td>
							<td>{{ad.title}}</td>
							<td>{{ad.author.firstName}} {{ad.author.lastName}}</td>
							<td>{{ad.bookings|length}}</td>
							<td>{{ad.comments|length}}</td>
							<td>{{ad.getAvgRatings}}</td>
							<td>
								<a href="{{path('admin_ads_edit',{'id':ad.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
								<a href="{{path('admin_ads_delete',{'id':ad.id})}}" onclick="return confirm('Etes-vous certain de vouloir supprimer l\'annonce ?')" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>

							</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>

    <div class="d-flex justify-content-center"> 
                <ul class="pagination"> 
                    <li class="page-item {% if page==1 %}disabled{% endif %}"> 
                        <a class="page-link" href="{{path('admin_ads_index',{'page':page-1})}}">&laquo;</a> 
                    </li> 
  
                {% for i in 1..pages %} 
                    <li class="page-item {% if page==i %}active{% endif %}"> 
                        <a class="page-link" href="{{path('admin_ads_index',{'page':i})}}">{{i}}</a> 
                    </li> 
                {% endfor %} 
  
                    <li class="page-item {% if page==pages %}disabled{% endif %}">     
                        <a class="page-link" href="{{path('admin_ads_index',{'page':page+1})}}">&raquo;</a> 
                    </li> 
                </ul> 
            </div> 



	{% endblock %}