{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

{% block title %}Modification du mot de passe{% endblock %}

	{% block body %}

	<div class="container">
		<h1>Modification du mot de passe</h1>

		{{form_start(form)}}
			{{form_row(form.oldPassword,{'label':'Ancien mot de passe','attr':{'placeholder':'Entrez votre ancien mot de passe'}})}}
			{{form_row(form.newPassword,{'label':'Nouveau mot de passe','attr':{'placeholder':'Entrez votre nouveau mot de passe'}})}}
			{{form_row(form.confirmPassword,{'label':'Ancien mot de passe','attr':{'placeholder':'confirmation mot de passe'}})}}

		<button type="submit" class="btn btn-success">Modification mot de passe</button>

		{{form_end(form)}}

	</div>



	{% endblock %}