{% extends 'base.html.twig' %}

{% form_theme formUser with ['bootstrap_4_layout.html.twig'] %}

{% block title %}Formulaire d'enregistrement{% endblock %}

	{% block body %}

	<div class="container">
		<h1>Inscription sur le site</h1>

		{{form_start(formUser)}}
		
			{{form_row(formUser.firstName,{'label':'Prénom','attr':{'placeholder':'Entrez votre prénom'}})}}
			{{form_row(formUser.lastName,{'label':'Nom','attr':{'placeholder':'Entrez votre nom'}})}}
			{{form_row(formUser.email,{'label':'Email','attr':{'placeholder':'Entrez votre email'}})}}
			{{form_row(formUser.picture,{'label':'Image de profil','attr':{'placeholder':'Entrez votre image de profil'}})}}
			{{form_row(formUser.hash,{'label':'Mot de passe','attr':{'placeholder':'Entrez votre mot de passe'}})}}
			{{form_row(formUser.confirm_hash,{'label':'Confirmation mot de passe','attr':{'placeholder':'Confirmation mot de passe'}})}}
			{{form_row(formUser.introduction,{'label':'Introduction','attr':{'placeholder':'Entrez votre introduction'}})}}
			{{form_row(formUser.description,{'label':'description','attr':{'placeholder':'Entrez votre description'}})}}

		<button type="submit" class="btn btn-success">Inscription</button>

		{{form_end(formUser)}}

	</div>



	{% endblock %}